
<div class="box">
  <h1>You:</h1>
  <p><%= @user_answer %></p>
</div>

<div class="box">
  <h1>Your coach:</h1>
  <p><%= @coach_answer %></p>
</div>

<a id="link"><%= link_to "Ask a new question", ask_path %></a>
